<!DOCTYPE html>
<html lang="en">
<%- include('template/head') %>

<body>
    <h1><%= title %> </h1>
    <form method="POST" action="/post" enctype="application/json">
        <div class="form-group">
            <label for="title">文章名字</label>
            <input name="title" type="text" class="form-control" id="title" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="author">作者名字</label>
            <input name="author" type="text" class="form-control" id="author">
        </div>
        <div class="form-group">
            <label for="desc">描述</label>
            <input name="desc" type="text" class="form-control" id="desc">
        </div>
        <button type="submit" class="btn btn-primary">新增文章</button>
    </form>
    <table class="table" style="margin-top:50px">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">标题</th>
                <th scope="col">作者</th>
                <th scope="col">简介</th>
                <th scope="col">操作</th>
            </tr>
        </thead>
        <tbody>
            <% posts.forEach(element => { %>
                <tr>
                    <th scope="row"><%= element.id %> </th>
                    <td><%= element.title %> </td>
                    <td><%= element.author %> </td>
                    <td><%= element.desc %> </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-id="<%= element.id %> " onclick="post(event)">删除</button>
                        <button type="button" class="btn btn-primary" data-id="<%= element.id %> " onclick="post(event,'PATCH')">编辑</button>
                    </td>
                </tr>
            <% }) %>
           
        </tbody>
    </table>
</body>
<script>
    let index = 0
    function post(event,type="DELETE"){
        console.log(event.target)
       let id = $(event.target).attr('data-id')
       $.ajax({
           type,
           data:JSON.stringify({
               id,
               title:'tett' +index,
               author:'aaa' + index,
               desc:'desc' + index
           }),
          contentType:"application/json",
          success:(res)=>{
              window.location.reload()
              index++
          } 
       })

    }
</script>
</html>